.container {
  width: 1296px;
  height: 184px;

  display: flex;
  justify-content: space-around;
}

.caseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f7f8fc;
  border-radius: 7px;
  width: 258px;
  height: 134px;

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
}

.caseTitle {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;

  color: #9fa2b4;
}

.caseCount {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;

  color: #252733;
}

.caseComparedCount {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;

  color: #252733;
}
